services:
  web:
    build: .
    container_name: flask_app
    command: gunicorn -w 4 -b 0.0.0.0:8000 "app:create_app()"
    env_file: .env
    ports:
      - "8000:8000"
    depends_on:
      - mongo
      - redis
    volumes:
      - .:/app

  worker:
    build: .
    container_name: celery_worker
    command: celery -A app.celery_app.celery_app worker --loglevel=INFO
    env_file: .env
    depends_on:
      - web
      - mongo
      - redis
    volumes:
      - .:/app

  beat:
    build: .
    container_name: celery_beat
    command: celery -A app.celery_app.celery_app beat --loglevel=INFO
    env_file: .env
    depends_on:
      - web
      - mongo
      - redis
    volumes:
      - .:/app

  mcp:
    build: .
    container_name: mcp_server
    command: python -m app.mcp.server
    env_file: .env
    depends_on:
      - web
      - worker
      - redis
      - mongo
    ports:
      - "9000:9000"
    volumes:
      - .:/app

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  mongo:
    image: mongo:6
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data: