services:
  web:
    build: .
    container_name: flask_app
    command: flask run --host=0.0.0.0 --port=8000
    env_file: .env
    ports:
      - "8000:8000"
    depends_on:
      - mongo
      - redis
      - ollama
    volumes:
      - .:/app
    environment:
      - OLLAMA_HOST=http://ollama:11434

  worker:
    build: .
    container_name: celery_worker
    command: celery -A app.celery_app.celery worker --loglevel=INFO
    env_file: .env
    depends_on:
      - web
      - mongo
      - redis
      - ollama
    volumes:
      - .:/app
    environment:
      - OLLAMA_HOST=http://ollama:11434

  beat:
    build: .
    container_name: celery_beat
    command: celery -A app.celery_app.celery beat --loglevel=INFO
    env_file: .env
    depends_on:
      - web
      - mongo
      - redis
      - ollama
    volumes:
      - .:/app
    environment:
      - OLLAMA_HOST=http://ollama:11434

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  mongo:
    image: mongo:6
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    restart: unless-stopped

volumes:
  mongo_data:
  ollama_data: