services:
  web:
    build: .
    container_name: flask_app
    env_file: .env
    ports:
      - "8000:8000"
    depends_on:
      - mongo
      - redis
    volumes:
      - .:/app

  mongo:
    image: mongo:6
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  worker:
    build: .
    container_name: celery_worker
    command: celery -A app.celery_app worker --loglevel=INFO
    env_file: .env
    depends_on:
      - mongo
      - redis
    volumes:
      - .:/app

volumes:
  mongo_data: