Flask==3.0.0
pymongo==4.6.1
celery==5.3.6
redis==5.0.1
python-dotenv==1.0.1
flasgger==0.9.7b2
pillow
beautifulsoup4
requests
pydantic
Flask-SQLAlchemy
SQLAlchemy
pydantic[email]
flask-login
authlib
flask_admin
flask-migrate